
body {
    background-color:deepskyblue;
    color:black;
}
h1 {
    color:blue;
}
    
h2 {
    color:blue;
}
p {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 30px;
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 30px;
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 30px;
  }
.sticky{
    background: rgb(96, 154, 189);
      position: sticky;
        top: 0;
      
} 

.articles {
    display: flex;
}
body{
    background: rgb(168, 156, 156);
  }
  table{
    background: yellow;
  }
  section{
    background: #ccc;
  }
  article{
    background: deepskyblue;
  }
  form{
    background: #999;
  }
  .img-container{
    float: right;
  }
  @media (max-width: 400px) {
    .articles {
        background-color: green;
    }
  }